body{
    margin: 0;
    background-color: #000000;
}
html{
    scroll-behavior: smooth;
}

.title-1{
    color: rgb(255, 255, 255);
    font-family: 'Borel', cursive;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    transition: 0.20s;
    font-size: 25px;
}


@font-face {
    font-family: "sf-pro";
    src: url(../fonts/SFPRODISPLAYREGULAR.OTF);
  }
  
  @font-face {
    font-family: "sf-pro-bold";
    src: url(../fonts/SFPRODISPLAYBOLD.OTF);
  }
  
  @font-face {
    font-family: "sf-pro-bold-italic";
    src: url(../fonts/SFPRODISPLAYBLACKITALIC.OTF);
  }

.detail-1{
    color: rgba(255, 255, 255, 0.589);
    font-family: 'Borel', cursive;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    transition: 0.20s;
}

.detail-1:hover{
    color: white;
}

a:link{
    text-decoration: none!important;
    
}

.detail-2{
    color: rgb(0, 0, 0);
    font-family: 'Borel', cursive;
    font-family: 'Inter', sans-serif;
    background-color: #FF6600;
    padding: 15px;
    border-radius: 100px;
    width: 120px;
    margin-top: 1px;
    text-decoration: none;
    transition: 0.20s;
    border: solid rgba(0, 0, 0, 0) 1px;
}

.detail-2:hover{
    background-color: transparent;
    border: solid white 1px;
    color: white;
}

.detail-3{
    color: rgb(0, 0, 0);
    font-family: 'Borel', cursive;
    font-family: 'Inter', sans-serif;
    width: 120px;
    margin-top: 9px;
    transition: 0.20s;
    display: none;
}

.detail-1-home{
    color: rgba(255, 255, 255, 0.589);
    font-family: 'Borel', cursive;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    transition: 0.20s;
    display: none;
    padding-right: 15px;
    margin-right: 0;
    margin-top: 17px;

}

.button{
    width: 55px;
    height: 55px;
    background-color: #171717;
    border-radius: 100px;
    margin-top: 0px;
    transition: 0.30s;
    display: flex;
    gap: 10px;
}

.button:hover{
    width: 120px;
    background-color: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(10px);

    .material-symbols-rounded{
        color: rgb(255, 255, 255);
    }

    .material-symbols-outlined{
        color: rgb(255, 255, 255);
    }

    .detail-3-home{
        display: block;
        color: rgb(255, 255, 255);
    }
}

.button-1-products{
    width: 55px;
    height: 55px;
    border-radius: 100px;
    margin-top: 0px;
    transition: 0.30s;
    display: flex;

    gap: 10px;
}

.button-1-products:hover{
    width: 140px;
    background-color: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(10px);


    .material-symbols-rounded{
        color: rgb(255, 255, 255);
    }

    .material-symbols-outlined{
        color: rgb(255, 255, 255);
    }

    .detail-3-home{
        display: block;
        color: rgb(255, 255, 255);
    }
}

.detail-3-home{
    color: rgb(0, 0, 0);
    font-family: 'Borel', cursive;
    font-family: 'Inter', sans-serif;
    width: auto;
    margin-top: 9px;
    transition: 0.20s;
    display: none;
    padding-right: 15px;
    margin-top: 17px;
}

.detail-3-home{
    color: rgb(0, 0, 0);
    font-family: 'Borel', cursive;
    font-family: 'Inter', sans-serif;
    width: auto;
    margin-top: 9px;
    transition: 0.20s;
    display: none;
    padding-right: 15px;
    margin-top: 17px;
}


.material-symbols-rounded {
    font-size: 40px;
    padding-left: 15px;
    margin-top: 15px;
    color: #9f9f9f;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined {
    font-size: 40px;
    padding-left: 15px;
    margin-top: 15px;
    color: #9f9f9f;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.nav{
    width: auto;
    position: fixed;
    display: flex;
    gap: 30px;
    text-align: right;
    padding: 30px;
    margin-right: 0;
    margin-top: 10px;
    right: 0;
    z-index: 3;
    transition: 0.20s;
    
}

.img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.button-1{
    width: 55px;
    height: 55px;
    border-radius: 100px;
    margin-top: 0px;
    transition: 0.30s;
    display: flex;
    gap: 10px;
}

.button-1:hover{
    width: 110px;
    background-color: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(10px);


    .material-symbols-rounded{
        color: rgb(255, 255, 255);
    }

    .material-symbols-outlined{
        color: rgb(255, 255, 255);
    }

    .detail-3-home{
        display: block;
        color: rgb(255, 255, 255);
    }
}














.detail-3-home{
    color: rgb(0, 0, 0);
    font-family: 'Borel', cursive;
    font-family: 'Inter', sans-serif;
    width: auto;
    margin-top: 9px;
    transition: 0.20s;
    display: none;
    padding-right: 15px;
    margin-top: 17px;
}







































.text-container-1{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
}

.picture-container{
    display: flex;
    width: 55%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    gap: 20px;
}

.profile-container{
    width: 100%;
    height: 150px;
    background-color: #171717;
    border-radius: 10px;
    margin-top: -100px;
    .detail-1{
        margin-top: 5px;
        font-size: 13px;
    }
}

.picture-container-2{
    display: flex;
    width: 55%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    gap: 20px;
}

.profile-container-2{
    width: 23.5%;
    height: 150px;
    background-color: #171717;
    border-radius: 10px;
    margin-top: -100px;
    .detail-1{
        margin-top: 5px;
        font-size: 13px;
    }
}

.pop{
    position: absolute;
    background-color: #ff660085;
    margin-left: 40px;
    margin-top: -10px;
    width: 160px;
}



































































.bottom-div-1{
    width: 90%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Borel', cursive;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-size: 23px;
    margin-top: 300px;
}

.bottom-flex{
    display: flex;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

.bottom-div-2{
    width: 90%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Borel', cursive;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-size: 15px;
    margin-top: 70px;
    margin-bottom: 50px;
    background-color: #000000;
}

.bottom-div-3{
    width: 90%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Borel', cursive;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-size: 15px;
    margin-top: 70px;
    margin-bottom: 50px;
    background-color: #000000;
}

.logo{
    width: 20%;
    height: 150px;
    margin-top: 100px;

}































.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(80%);
    transition: all 0.80s;
    width: 100%;
    height: 150px;
  }
  
  .show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
  }
  
  .logo:nth-child(1) {
    transition-delay: 100ms ;
  }
  
  .logo:nth-child(2) {
    transition-delay:200ms ;
  }
  
  .logo:nth-child(3) {
    transition-delay:300ms ;
  }
  
  .logo:nth-child(4) {
    transition-delay:400ms ;
  }
  
  .logo:nth-child(5) {
    transition-delay: 500ms ;
  }
  .logo:nth-child(6) {
    transition-delay: 600ms ;
  }
  
  .logo:nth-child(7) {
    transition-delay: 700ms ;
  }

  .parent-mobile{
    display: none;
}

  






















  @media only screen and (max-width:750px) {
    .parent-desktop{
        display: none;
    }

    .parent-mobile{
        display: block;
    }

    /* Set both colors */
    ::-webkit-scrollbar {
    display: none;
    
    }

    body{
        -webkit-tap-highlight-color: transparent;


    }




    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav-mobile #myLinks {
        display: none;
    }
    
    .topnav-mobile{
        width: 100%;
        position: fixed;
        z-index: 2;
        overflow: hidden;
        margin-top: 0px;
    }

    /* Style navigation menu links */
    .topnav-mobile a {
        color: white;
        padding: 10px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;

    }
    
    /* Style the hamburger menu */
    .topnav-mobile a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 15px;
        transition: 0.40s;

    }
    
    /* Add a grey background color on mouse-over */
    .topnav-mobile a:hover {
        color: rgb(255, 255, 255);
        transition: 0.40s;
        transform: scale(0.8);
    
    }
    
    /* Style the active link (or home/logo) */
    .active {
        color: white;
    }

    .container-nav{
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 230px;
    }

    .nav-button-container{
        width: 100%;
        height: 100vh;
        background-color: rgba(61, 61, 61, 0.1);
        backdrop-filter: blur(30px);    
        margin-top: -230px;
    }

    .center-button{
        width: 203px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        padding-top: 250px;
    }
    
    .nav-button{
        position: relative;
        width: 170px;
        height: auto;
        border-radius: 100px;
        text-align: center;
        margin-top: -150px;
        transition: 0.40s;
    }
    
    .nav-button:hover{
        background-color: rgba(28, 28, 30, 0.548);
        margin-left: auto;
        margin-right: auto;
    }


    .landing{
        width: 100%;
        height: 900px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
    }

    .text-container-1{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 150px;
    }
    
    .picture-container{
        display: flex;
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;

        margin-top: 20px;
        gap: 14px;
    }
    
    .profile-container{
        width: 100%;
        height: 80px;
        border-radius: 10px;
        margin-top: -100px;
        .detail-1{
            margin-top: 5px;
            font-size: 13px;
        }
    }
    
    .picture-container-2{
        display: flex;
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        gap: 14px;
    }
    
    .profile-container-2{
        width: 31%;
        height: 80px;
        background-color: #171717;
        border-radius: 10px;
        margin-top: -100px;
        .detail-1{
            margin-top: 5px;
            font-size: 13px;
        }
    }






    


    .bottom-div-1{
        width: 90%;
        color: white;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Borel', cursive;
        font-family: 'Inter', sans-serif;
        text-decoration: none;
        font-size: 23px;
        margin-top: 300px;
    }
    
        .bottom-flex{
            display: grid;
            width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            gap: 10px;
        }
}